<header>
  <div class="contact1">
    <h2 class="text-contact">
      <br> Bienvenido, contactanos para obtener mas informacíon sobre nuestros servicios.</h2>
  </div>
  <div>
      <picture>
      <img class="img-contact" src="../../../assets/images/contacto.jpeg" alt="Contacto">
    </picture>
  </div>

  <div class="form">
    <form class="row g-3">
      <div class="col-md-6">
        <label for="inputNombre4" class="form-label">Nombre(s)</label>
        <input type="Nombre" class="form-control" id="inputNombre4">
      </div>
      <div class="col-md-6">
        <label for="inputApellidos4" class="form-label">Apellidos</label>
        <input type="Apellidos" class="form-control" id="inputApellidos4">
      </div>
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail4">
      </div>
      <div class="col-md-6">
        <label for="inputCellphone4" class="form-label">Cellphone</label>
        <input type="Cellphone" class="form-control" id="inputCellphone4">
      </div>
      <div class="col-12">
        <label for="inputAddress" class="form-label">Address</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
      </div>
      <div class="col-12">
        <label for="inputAddress2" class="form-label">Address 2</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
      </div>
      <div class="col-md-6">
        <label for="inputCity" class="form-label">City</label>
        <input type="text" class="form-control" id="inputCity">
      </div>
      <div class="col-md-4">
        <label for="inputState" class="form-label">State</label>
        <select id="inputState" class="form-select">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>
      <div class="col-md-2">
        <label for="inputZip" class="form-label">Zip</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
      <div class="col-12">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck">
          <label class="form-check-label" for="gridCheck">
            Check me out
          </label>
        </div>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Sign in</button>
      </div>
    </form>
  </div>
</header>
