.head{
    width: 900px;
    height: 1300px;
}

.text-contact{
    font-size: x-large;
    text-align: center;
}

.row{
    width: 900px;
    height: 800px;
}

.form{
    width: 800px;
    height: 800px;
    margin-top: 75px;
}

.contact1{
    width: 900px;
    height: 100px;
}

.img-contact{
    width: 900px;
    height: 800px;
}