<p>Hacer componente servicios</p>
<section id="services-sec">
    <div class="container">
        <h1 class="g-pad-bottom">  <i class="fa fa-crosshairs "></i> SERVICIOS  </h1>
        <!-- <div class="row-services "> -->                       
            <div class="text-center g-pad-bottom">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <i class="fa fa-fire-extinguisher fa-5x faa-vertical animated c-main "></i>
                        <h4>Asesorias online </h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio. Mauris vehicula at nunc id posuere. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </p>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <i class="fa fa-coffee fa-5x faa-ring animated c-main "></i>
                        <h4>Taller de Tareas </h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio. Mauris vehicula at nunc id posuere. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </p>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <i class="fa fa-gavel fa-5x faa-shake animated c-main "></i>
                        <h4>Ayuda para examenes </h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio. Mauris vehicula at nunc id posuere. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">              
                <div class="col-md-4 col-sm-4">
                    <div class="panel panel-default">                   
                        <div class="panel-body">
                            
                            <picture>
                                <h4 class="adjst">Servicio 1</h4>
                                <img src="#" alt="image1">
                            </picture>                        
                        </div>
                    </div>                        
                </div>
               <div class="col-md-4 col-sm-4">
                    <div class="panel panel-default">                   
                        <div class="panel-body">
                            <picture>
                                <h4 class="adjst">Servicio 2</h4>
                                <img src="#" alt="image2">
                            </picture>
                        </div>
                    </div>                        
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="panel panel-default">                   
                        <div class="panel-body">
                            
                            <picture>
                                <h4 class="adjst">Servicio 3</h4>
                                <img src="#" alt="image3">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
        <!-- </div> -->      
    </div>
</section>