#mainarea {
width:870px;
clear:both;
padding-left:30px;
}

#contentarea {
width:550px;
padding-right:35px;
float:left;
line-height:14pt;
padding-bottom:10px;
}

#sidebar {
float:left;
width:245px;
line-height:14pt;
}

.panel-body{
    display: flex;
    justify-content: center;
}
