#home-sec{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    line-height: 1.42857143;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    background: url(../../../assets/images/gradienta.jpg) no-repeat 50% 50%;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    display: block;
    height: auto;
    padding-top: 190px;
    padding-bottom: 200px;
    color: #fff;
}
.go-marg {
    margin-top:40px;
    color:#eee3e3;
}

.head-main {
    font-size:60px ;
    font-weight:900;
    border:5px double #fff;
    padding:5px;
    text-transform:uppercase;
    
}
.head-sub-main {
    font-size:23px ;
    font-weight:500;
    padding:50px 20px 10px 20px;
     text-transform:uppercase;
    
}
.head-last {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-align: center;
    box-sizing: border-box;
    color: inherit;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
    position: relative;
    min-height: 1px;
    float: left;
    width: 33.33333333%;
    margin-left: 33.33333333%;
    font-size: 18px;
    font-weight: 900;
    border: 1px dotted #fff;
    padding: 5px;
}

