<p>Hacer componente home</p>
<body>
    <section id="home-sec">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <span class="head-main">Explota tu potencial</span>
                    <h2 class="head-sub-main">Haz una visita y descubre todo lo que te ofrecemos...</h2>
                    <button type="button" class="btn btn-primary col-md-4 col-md-offset-4  col-sm-6 col-sm-offset-3">Visitar</button>                    
                </div>
                <div class="col-md-12 col-sm-12">                   
                    <a href="#services-sec">
                     <i class="fa fa-crosshairs fa-5x go-marg"></i> 
                        </a>
                </div>
            </div>
        </div>
    </section>
</body>