.head{
    /* min-height: calc(25vh - 80px  - 60px); */
    background-color: black;
}

.main{
    min-height: calc(125vh - 80px  - 60px);
    background-color: antiquewhite;
}

.foot{
    /* min-height: calc(25vh - 80px  - 60px); */
    background-color: azure; 
}
