<body>
  <header class="head">   
    <div class="row">        
      <div class="tittle col">
        <img class="logo" src="../assets/images/logo.png" alt="logo">
        <div class="tittle1">Tecnobal</div>     
        <div class="btn-home col"><button type="button" class="btn" [routerLink]="['/home']" routerLinkActive="router-link-active">Home</button></div> 
        <nav class="navbar navbar-expand-sm navbar-dark">          
          <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
              aria-expanded="false" aria-label="Toggle navigation"></button>
          <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">                  
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a class="dropdown-item" [routerLink]="['/nosotros']" routerLinkActive="router-link-active">Nosotros</a>
                    <a class="dropdown-item" [routerLink]="['/servicios']" routerLinkActive="router-link-active">Servicios</a>
                    <a class="dropdown-item" [routerLink]="['/contacto']" routerLinkActive="router-link-active">Contacto</a>
                </div>
              </li>
            </ul>              
          </div>
        </nav>  
      </div>       
    </div>    
  </header>

  <div class="main">
    <router-outlet>
      
    </router-outlet>
  </div>

  <footer class="foot">
    <div>
      <div class="social">      
        <div class="social-div">
          <a href="https://www.facebook.com/"><img src="../assets/png/005-facebook.png" alt="facebook"></a>
          <a href="https://twitter.com/"><img src="../assets/png/001-gorjeo.png" alt="twitter"></a>
          <a href="https://www.instagram.com/"><img src="../assets/png/002-instagram.png" alt="instagram"></a>
          <a href="https://telegram.org/"><img src="../assets/png/009-telegrama.png" alt="telegram"></a>
        </div>        
      </div>
      <span class="credits">
        <div>
          <span class="copyrigth">Todos los derechos reservados por ISC Mauricio Vergara Miranda</span>
        </div>
      </span>
    </div>
  </footer>
</body>


