.head{  
    min-height: calc(20vh - 80px  - 60px);
    padding: 20px;
    background-color: black;
}

.container-fluid{
    display: flex;
    align-items: center;
    align-content: space-around;
}

.tittle {
    display: flex;
    /* muestra elementos con la misma separación alrededor de ellos */
    justify-content: center;
    /* alinea los elementos verticalmente */
    align-items: center;
    color: azure;
}

.logo{
    width: 50px;
    height: 50px;
}

.tittle1{
    /* width: 300px;
    height: 50px; */
    font-size: 35px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.text{
    text-align: center;
}

.btn-home{
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    /* width: 300px;
    height: 50px; */
}

.btn{
    color: azure;
}

.offcanvas{
    background-color: black;
}

.offcanvas-title{
    color: azure;
}

.offcanvas{
    display: flex;
    justify-content: flex-start;
}

.main {
    min-height: calc(175vh - 80px  - 60px);
    /* background: url("../assets/images/back.jpg") no-repeat;
    opacity: 0.85; */ 
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.foot{  
    min-height: calc(20vh - 80px  - 60px);
    padding: 20px;
    background-color: black;
}

.social{
    display: flex;
    justify-content: center;
}

.social-div{
    width: 250px;
    height: 24px;
    display: flex;
    justify-content: space-between;
}

.credits{
    text-align: center;
}

.copyrigth{
    font-size:larger;
    color: azure;
    text-align: center;
}