<body>
  <header class="head">
    <nav class="navbar navbar-dark bg-primary fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">InTechNova</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
          aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header navbar-dark bg-primary">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menú InTechNova</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body navbar-dark bg-primary">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Nosotros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contacto</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">Servicios</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                  <a class="dropdown-item" href="#">Action 1</a>
                  <a class="dropdown-item" href="#">Action 2</a>
                  <a class="dropdown-item" href="#">Action 2</a>
                </div>
              </li>
            </ul>
            <picture>
              <img src="../assets/images/pakata.jpg" alt="">
            </picture>
          </div>
        </div>
      </div>
    </nav>    
    <!-- <div id="header">
      <h1><a href="#">InTechNova</a></h1>
      <div class="description">Tecnologia educativa inteligente</div>
    </div>
    
    <div id="menulinks">
      <a class="active" [routerLink]="['/home']" routerLinkActive="router-link-active"><span>Home</span></a>
      <a [routerLink]="['/nosotros']" routerLinkActive="router-link-active"><span>Nosotros</span></a>
      <a [routerLink]="['/servicios']" routerLinkActive="router-link-active"><span>Servicios</span></a>
      <a [routerLink]="['/contacto']" routerLinkActive="router-link-active"><span>Contacto</span></a>
    </div> -->
  </header>

  <section id="main">
    <div class="container">
      <router-outlet>
    
      </router-outlet>
    </div>
  </section>

  <footer class="foot">
    <div id="footer">
      <div class="social">      
        <div class="social-div">
          <a href="https://www.facebook.com/"><img src="../assets/png/005-facebook.png" alt="facebook"></a>
          <a href="https://twitter.com/"><img src="../assets/png/001-gorjeo.png" alt="twitter"></a>
          <a href="https://www.instagram.com/"><img src="../assets/png/002-instagram.png" alt="instagram"></a>
          <a href="https://telegram.org/"><img src="../assets/png/009-telegrama.png" alt="telegram"></a>
        </div>        
      </div>
      <span class="credits">
        <div>
          <span class="copyrigth">Todos los derechos reservados por ISC Mauricio Vergara Miranda</span>
        </div>
      </span>
    </div>
  </footer>
</body>


