.head{  
    min-height: calc(20vh - 80px  - 60px);
    padding: 20px;
    background-color: black;
}

.offcanvas{
    background-color: black;
}

.offcanvas-title{
    color: azure;
}

.fondo-header {
min-height: calc(115vh - 80px  - 60px);
background: url("../assets/images/back.jpg") no-repeat;
opacity: 0.85;
}
 
.foot{
    min-height: calc(20vh - 80px  - 60px);
    background-color: rgb(9, 226, 226); 
}