<body>
  <header class="head">    
    <nav class="navbar navbar-dark"> 
      <div class="container-fluid">        
        <div class="tittle">
          <img class="logo" src="../assets/images/logo.png" alt="logo">
          <div class="tittle1">Tecnobal</div>
        </div>              
        <button class="navbar-toggler bg-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><img src="../assets/png/menu.png" height ="20" width="30"></button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
          <div class="offcanvas-header">
            <h4 class="offcanvas-title" id="offcanvasRightLabel">Menu</h4>
            <button type="button" class="btn-close bg-dark" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <a [routerLink]="['/Nosotros']" routerLinkActive="router-link-active">Nosotros</a>
          </div>
        </div>       
      </div>  
    </nav>
  </header>

  <div class="main">
    <router-outlet>
      <a [routerLink]="['/home']" routerLinkActive="router-link-active"></a>
    </router-outlet>
  </div>

  <footer class="foot">
    <div>
      <div class="social">      
        <div class="social-div">
          <a href="https://www.facebook.com/"><img src="../assets/png/005-facebook.png" alt="facebook"></a>
          <a href="https://twitter.com/"><img src="../assets/png/001-gorjeo.png" alt="twitter"></a>
          <a href="https://www.instagram.com/"><img src="../assets/png/002-instagram.png" alt="instagram"></a>
          <a href="https://telegram.org/"><img src="../assets/png/009-telegrama.png" alt="telegram"></a>
        </div>        
      </div>
      <span class="credits">
        <div>
          <span class="copyrigth">Todos los derechos reservados por ISC Mauricio Vergara Miranda</span>
        </div>
      </span>
    </div>
  </footer>
</body>